@{
    ViewData["Title"] = "Home Page";
}
<head>
<script src="https://kit.fontawesome.com/6209eb2488.js" crossorigin="anonymous"> </script>
</head>

<div class = "container border-lg rounded-lg border-top-0 border-left-0 ">
    <div class="row">
        <div class = "col-sm-8 text-left font-weight-bold"><h1>Nome:</h1> </div>
        <div class = "col-sm-4 text-center"> <button type="button" class= "btn btn-Warning">Favoritar <i class="fas fa-external-link-alt"></i></button> </div>
    </div class = "row">
        <div class= "col-sm-6 text-left font-weight-light"><h2 id = "name"></h2></div>
    </div>
    <div class="row">
        <div class = "col-sm-8 text-left font-weight-bold"><h1>Descrição:</h1> </div>
    </div>
    </div class = "row">
        <div class= "col-sm-6 text-left font-weight-light"><h2 id = "description"></h2></div>
    </div>
    <div class="row">
        <div class = "col-sm-8 text-left font-weight-bold"><h1>Linguagens:</h1> </div>
    </div>
    </div class = "row">
        <div class= "col-sm-6 text-left font-weight-light"><ul class="list-group list-group-flush" id="languages"></ul></div>
    </div>
    <div class="row">
        <div class = "col-sm-8 text-left font-weight-bold"><h1>Ultima data de atualização:</h1> </div>
    </div>
    </div class = "row">
        <div class= "col-sm-6 text-left font-weight-light"><h2 id = "lastAtt"></h2></div>
    </div>
    <div class="row">
        <div class = "col-sm-8 text-left font-weight-bold"><h1>Contribuidores:</h1> </div>
    </div>
    </div class = "row">
        <div class= "col-sm-6 text-left font-weight-light"><ul class="list-group list-group-flush" id="contributers"></h2></div>
    </div>
</div>