@{
    ViewData["Title"] = "Home Page";
}
<head>
<script src="https://kit.fontawesome.com/6209eb2488.js" crossorigin="anonymous"> </script>
</head>

<div class = "container border rounded-lg border-top-0 border-left-0 bg-light shadow-sm " style="margin-top: 30px;">
    <div class="row">
        <div class = "col-sm-6 text-left font-weight-bold"><h4>Nome</h4> </div>
        <div class = "col-sm-6 text-right" id = "favBtn"> </div>
    </div>
    <div class = "row">
        <div class= " col text-left font-weight-normal"><p id = "name"></p></div>
    </div>
    <div class="row">
        <div class = "col text-left font-weight-bold"><h4>Dono</h4> </div>
    </div>
    <div class = "row">
        <div class= "col text-left font-weight-normal"><p id = "owner"></p></div>
    </div>
    <div class="row">
        <div class = "col text-left font-weight-bold"><h4>Descrição</h4> </div>
    </div>
    <div class = "row">
        <div class= "col text-left font-weight-normal"><p id = "description"></p></div>
    </div>
    <div class=" row">
        <div class = "col text-left font-weight-bold"><h4>Linguagem</h4> </div>
    </div>
    <div class = "row">
        <div class= "col text-left font-weight-normal"><p id="language"></p></div>
    </div>
    <div class=" row">
        <div class = "col text-left font-weight-bold"><h4>Última data de atualização</h4> </div>
    </div>
    <div class = " row">
        <div class= "col text-left font-weight-normal"><p id = "lastAtt"></p></div>
    </div>
    <div class=" row">
        <div class = "col text-left font-weight-bold"><h4>Contribuidores</h4> </div>
    </div>
    <div class = " row justify-content-start">
        <div class= "col text-left font-weight-normal" id= "contributors"> </div>
    </div>
</div>
 <script src="~/js/details.js" asp-append-version="true"></script>