@{
    ViewData["Title"] = "Home Page";
}
<head> <script src="https://kit.fontawesome.com/6209eb2488.js" crossorigin="anonymous"></script></head>

<div class = "container">
    <div class="row justify-content-around">
        <div class="col-md-5 border border-3 border-top-0 border-left-0 rounded-lg shadow-sm bg-light " style= "margin-top: 35px;">
            <h1 class="text-center text-secondary "> Repositorios </h1>
            <div class = "text-center" >
                <i class="fas fa-sticky-note fa-10x " style="margin: 30px auto 30px"></i>
            </div>
            <div class = "" style= "height : 1px; width: 100%; background : gray; margin: 15px auto 15px " ></div> 
            <div> 
                <p class="text-center font-weight-lighter" style="margin-bottom: 15px;">Aventure-se pelos incriveis repositorios do usuario 02David03  <i class="far fa-grin-squint"></i></p>
            </div> 
        </div>
        <div class="col-md-5 border border-3 border-top-0 border-left-0 rounded-lg shadow-sm bg-light" style =  "margin-top: 35px;">
            <h1 class="text-center text-secondary"> Favoritos </h1>
            <div class = "text-center" >
                <i class="fas fa-star fa-10x text-center" style="margin: 30px auto 30px"></i>
            </div>
            <div class = "" style= "height : 1px; width: 100%; background : gray; margin: 15px auto 15px " ></div> 
            <div> 
                <p class ="text-center font-weight-lighter" style="margin-bottom: 15px;">Aqui você encontrará os seus repositorios favoritos <i class="far fa-smile-wink"></i></p>
            </div>          
        </div>
    </div>
</div>
