@{
    ViewData["Title"] = "Home Page";
}
<head> <script src="https://kit.fontawesome.com/6209eb2488.js" crossorigin="anonymous"></script></head>

<div class="d-flex justify-content-center">
    <div class="spinner-border text-secondary" role="status" id = "loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-search"></i></span>
  </div>
  <input id = "searchInput" type="text" class="form-control" onkeyup="searchFor()" aria-describedby="inputGroup-sizing-default">
</div>

<div class ="table-responsive-md"><table class = "table table-striped" id="repositories"></table></div>